/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 4vh;
    overflow: hidden;
}

/* Hero Text */
.hero-text {
    padding: 10vh; /* Default padding */
}

/* Hero Content Header */
.hero-content-header {
    text-align: left;
    line-height: 1.2;
}

.hero-header {
    font-size: 4vh;
}

.hero-start {
    font-size: 2vh;
    text-decoration: underline;
    color: #333;
    font-weight: normal;
    margin-bottom: 0.1rem;
    line-height: 0.1;
}

/* Section Changing Text */
.hero--section--changing {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    width: 28vh;
    transition: opacity 0.3s ease-in-out;
    vertical-align: bottom;
}

.hero-header em {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.hero--section--changing.typed-cursor {
    opacity: 1;
}

.custom-hr {
    border: 0;
    height: 0.06rem;
    background-color: #333;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.hero-content-about {
    line-height: 0.2;
}

/* Hero Content Headings */
.hero-content-about .hero-currently,
.hero-content-about .hero-driven,
.hero-content-about .hero-also,
.hero-content-about .hero-loves {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-content-about h3 {
    font-size: 2vh;; /* Adjust text size */
    text-decoration: underline;
    font-weight: normal;
}

.hero-content-about h4 {
    font-size: 2vh;; /* Adjust text size */
    font-style: italic;
    font-weight: normal;
}

.hero-stickers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.sticker-container {
    text-align: center;
    margin: 0 15px;
    position: relative;
}

.sticker {
    max-width: 11rem;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.sticker:hover {
    transform: rotate(-10deg);
    filter: brightness(1.2);
}

.sticker-subtitle {
    font-size: 1rem;
    margin-top: 10px;
    color: #555;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sticker-container:hover .sticker-subtitle {
    opacity: 1;
}
